{% extends 'base.html.twig' %}

{% block title %}Liste utilisteur{% endblock %}

{% block body %}
     <div class="exemple-wrapper">
         <h1>Liste utilisteurs</h1>
	 <table class="table table-hover">
	    <thead class="thead-dark">
		 <th scope="col">Nom</th>
		 <th scope="col">Prenom</th>
		</tr>
	    </thead>
		<tbody>
		{% for utilisteur in utilisateurs %}
		  <th scope="row">{{ utilisteur.id}}</th>
		  <td>{{ utilisateur.Nom }}</td>
		  <td>{{ utilisateur.Prenom }}</td>

		  {% endfor %}
	</tbody>
	</table>
	</div>
		 
		  
		
{% endblock %}
